.message_left {
    margin-right: auto;
    --background: silver;
    border-radius: 10px;
    border: 1px solid black;
    min-width: 20%;
    max-width: 80%;
}

.message_right {
    margin-left: auto;
    --background: #fbba54;
    border-radius: 10px;
    border: 1px solid black;
    min-width: 20%;
    max-width: 80%;
}

.timestamp {
    justify-content: flex-end;
    display: flex;
}

ion-grid {
    margin: 0% 5%;

    ion-row {
        margin-bottom: 10px;
    }
}